@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.sectionOne{
    background-color: #1F2937;
}

.sectionOne .nav-bar{
    display: flex;
    padding: 10px 20px;
}

.sectionOne .left-side{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.sectionOne .right-side{
    font-size: 18px;
    display:flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
}

.sectionOne .right-side ul{
    gap:50px
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

.sectionOne .content{
    display: flex;
    padding: 40px 80px;
}

.sectionOne .left-side-content {
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
}

.sectionOne .right-side-content {
    display:flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.sectionOne .left-side-content h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight:900;
    margin-bottom: -10px;
}

.sectionOne .left-side-content p{
    font-size: 18px;
    color:#E5E7EB;
    
}

#signup-button{
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: 700;
    border:none;
    padding: 10px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor:pointer;
    transition: transform 0.1s ease-out, background-color 0.1s ease-out;
}

#signup-button:hover{
    background-color: #2957a1;
    color:#E5E7EB;
}

#signup-button:active{
  transform: scale(0.95);
  background-color: #0056b3;
}

.sectionTwo{
    padding: 150px 450px;
}

.sectionTwoHeader{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #1F2937;
    font-weight: 900;
}

.sectionTwoImages{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    gap: 20px;
}

.sectionTwoImages img{
    border: solid #0056b3;
    border-radius: 12px;
}

.sectionThree{
    background-color: #E5E7EB;
    padding: 150px 450px;
}

.quoteText{
    justify-self: center;
    font-size: 36px;
    color:#1F2937;
    font-weight: 300;

}
.quoteAuthor{
    justify-self: end;
    font-weight: 900;
    font-size: 24px;
    color:#1F2937;
}

.sectionFour{
    padding: 150px 450px;
}

.box{
    background-color:#3882F6;
    border-radius: 10px;
    padding: 10px 80px;
    justify-content: center;
}

.box h1{
    color: #F9FAF8;
}

.box-subtext{
    display: flex;
    gap: 100px;
    margin-top: -25px;
}

.box-subtext p{
    font-size: 20px;
    color: #F9FAF8;
}

.box-subtext button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    padding: 0px 25px;
    
}

footer {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 350;
    font-size: 18px;
    padding: 30px 10px;
}

